body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: wheat;
  color: black;
  padding: 10px 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.menu-toggle .bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px auto;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-left: 60px;
  float: left;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.nav-links.active {
  display: flex;
}

@media (max-width: 768px) {
  .menu-toggle {
      display: block;
  }

  .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      background-color: #333;
  }

  .nav-links.active {
      display: flex;
  }

  .nav-links li {
      margin: 0;
      border-bottom: 1px solid #444;
  }

  .nav-links li:last-child {
      border-bottom: none;
  }

  .nav-links a {
      display: block;
      padding: 15px;
      text-align: center;
  }
}
